@model NewOrEditSupplierViewModel

<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="Email.EmailAddress"></label>
        <input asp-for="Email.EmailAddress" type="text" class="form-control">
        <span asp-validation-for="Email.EmailAddress" class="text-danger"></span>
    </div>
</div>

<hr />
<div class="form-row">
    <div class="form-group col-md-4">
        <label asp-for="Telephone"></label>
        <input asp-for="Telephone" type="text" class="form-control mask_celular">
        <span asp-validation-for="Telephone" class="text-danger"></span>
    </div>
    
</div>