@model IEnumerable<MvcMovie.ViewModels.LogInfo>



@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>



<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Date
        </th>
        <th>
            User
        </th>
        <th>
            Operation
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Data
            </td>
            <td>
                @item.Usuario
            </td>
            <td>
                @item.Operacao
            </td>

        </tr>
    }*@

</table>
