
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1> @ViewBag.Agora </h1>
        <br />
        <br />
        @Html.ActionLink("Meu filme preferido", "Filme", "Home")
    </div>
</body>
</html>
